.tr_yama img{
border: 2px #000000 solid;
border-radius: 3px;
width: 200px;
transition: transform .2s;
}

.tr_yama img:hover {
transform: scale(1.10);
}

md-typeset table:not([class]) th {
	min-width: 3rem;
}

.md-typeset table th[role=columnheader]:after {
	display: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.cizgi table, tr, td {
    text-align: center;
    width: 33%;
    border-style: hidden;
}